button.start,
button.stop {
  position: relative;
  width: 120px;
  height: 84px;
  border: none;
  border-radius: 60px/30px;
  padding: 0;
  outline: none;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 200ms cubic-bezier(0, 0, 0, 1);
}

button.start:before,
button.stop:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 60px;
  border-radius: 60px/30px;
}

button.start:not(:disabled):active,
button.stop:not(:disabled):active {
  height: 62px;
}

button.start:disabled,
button.stop:disabled {
  cursor: auto;
  height: 66px;
  filter: brightness(60%);
}

button.start {
  background-color: #5c8434;
  box-shadow: 0px 6px 10px -2px #fff;
  margin-right: 1.5rem;
}

button.start:before {
  background-color: #82b74b;
}

button.stop {
  background-color: #7b3535;
  box-shadow: 0px 6px 10px -2px #fff;
  margin-left: 1.5rem;
}

button.stop:before {
  background-color: #c94c4c;
}

button.start:after {
  content: "";
  position: absolute;
  top: 10px;
  border: 18px solid transparent;
  border-left-color: #fff;
  transform: scale(1.5, 0.8) rotateX(50deg);
}

button.stop:after {
  content: "";
  position: absolute;
  top: 18px;
  left: calc(50% - 11px);
  border: 12px solid #fff;
  transform: rotateX(54deg);
}
