form {
  height: 100%;
}

input {
  font-family: var(--digital-font);
  font-size: var(--large-font-size);
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-align: center;
  border: 2px dashed #808080;
  border-radius: 25px;
  box-sizing: border-box;
  outline: none;
  padding: 1.5rem 0 0;
  caret-color: #808080;
}

@media (max-width: 1440px) and (min-width: 1025px) {
  input {
    font-size: var(--medium-font-size);
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  input {
    font-size: var(--small-font-size);
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  input {
    font-size: var(--smallest-font-size);
  }
}

@media (max-width: 480px) {
  input {
    font-size: var(--smallest-font-size);
    border: 2px dashed #fff;
  }
}
