.share {
  position: relative;
}

.share > button.confirmed {
  transform: rotateY(180deg);
}

.confirmation {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: #aae869;
  font-size: 2rem;
  line-height: 52px;
  text-align: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 0.2s ease-in-out;
}

.confirmation.confirmed {
  transform: rotateY(0deg);
  cursor: none;
}

.share > .text {
  position: absolute;
  height: 44px;
  font-size: 0.9rem;
  line-height: 44px;
  left: -245px;
  top: calc((52px - 44px) / 2);
  padding: 0 1.2rem;
  border-radius: 5px;
  background: var(--deep-grey-colour);
  vertical-align: middle;
  animation: fade 0.6s;
}

.share > .text:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: calc((44px - 15px) / 2);
  right: calc(-15px / 2);
  background-color: var(--deep-grey-colour);
  border-top-right-radius: 3px;
  transform: rotate(45deg);
}

.share > button {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  box-sizing: content-box;
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
}

.share > button:not(.confirmed):hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.1);
}

.share > button .box {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  top: calc((50px - 20px + 5px) / 2);
  right: calc((50px - 20px) / 2);
  box-sizing: border-box;
}

.share > button .arrow {
  position: absolute;
  width: 2px;
  height: 18px;
  margin: 0 4px;
  background-color: #fff;
  top: 10px;
  right: calc((50px - 10px) / 2);
}

.share > button .arrow:before {
  content: "";
  width: 2px;
  height: 8px;
  position: absolute;
  background-color: #fff;
  transform: rotate(45deg);
  left: -2px;
  top: -2px;
}

.share > button .arrow:after {
  content: "";
  width: 2px;
  height: 8px;
  position: absolute;
  background-color: #fff;
  transform: rotate(-45deg);
  left: 2px;
  top: -2px;
}

@media (max-width: 480px) {
  .share > .text {
    font-size: 0.8rem;
    left: -228px;
  }
}
