@font-face {
  font-family: "Digital";
  src: url(./fonts/digital-7.ttf);
}

html,
body,
#root,
#toggleWrap {
  height: 100%;
}

html {
  font-family: "Digital";
}

body {
  color: #fff;
  background-color: rgb(32, 31, 31);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#toggleWrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

:root {
  --large-font: 18rem;
}
