@font-face {
  font-family: "Digital";
  src: url(./fonts/digital-7.ttf);
}

:root {
  --large-size: 18rem;
  --base-font-digital: "Digital";
  --deep-grey-colour: rgb(32, 31, 31);
  --vibrant-blue-colour: rgb(52, 140, 178);
  --vibrant-blue-colour-light: rgba(52, 140, 178, 0.85);
}

html,
body,
#root,
#toggle-wrap {
  height: 100%;
}

html {
  font-family: var(--base-font-digital);
}

body {
  margin: 0;
  color: #fff;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.overlay.top-right {
  clip-path: polygon(100% 0, 60% 0, 100% 50%);
  background-color: var(--vibrant-blue-colour);
}

.overlay.middle-right {
  clip-path: polygon(60.1% 0, 100% 49.9%, 100% 100%, 88% 100%, 12% 0);
  background: linear-gradient(
    45deg,
    var(--vibrant-blue-colour) 65%,
    var(--vibrant-blue-colour-light)
  );
}

.overlay.middle-left {
  clip-path: polygon(0 0, 12.1% 0, 88.1% 100%, 40% 100%, 0 50%);
  background: linear-gradient(
    45deg,
    var(--vibrant-blue-colour),
    var(--vibrant-blue-colour-light)
  );
}

.overlay.bottom-left {
  clip-path: polygon(0 49.9%, 0% 100%, 40.1% 100%);
  opacity: 0.9;
  background-color: var(--vibrant-blue-colour);
}

.share-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 2rem;
}

#toggle-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.glass {
  padding: 8rem;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  color: rgb(32, 31, 31);
  box-sizing: border-box;
  width: 80vw;
  height: 80vh;
  backdrop-filter: blur(18px);
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 150px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes roll-right {
  0% {
    transform: translate(0, 12px) rotate(0deg);
  }
  50% {
    transform: translate(25vw, -8px) rotate(360deg);
  }
  100% {
    transform: translate(50vw, -8px) rotate(720deg);
  }
}

@keyframes roll-left {
  0% {
    transform: translate(0, 12px) rotate(0deg);
  }
  50% {
    transform: translate(-25vw, -8px) rotate(-360deg);
  }
  100% {
    transform: translate(-50vw, -8px) rotate(-720deg);
  }
}
