@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Digital";
  src: url(./fonts/digital-7.ttf);
}

:root {
  --large-font-size: 18rem;
  --medium-font-size: 14rem;
  --small-font-size: 10rem;
  --smallest-font-size: 8rem;
  --base-font: "Poppins";
  --digital-font: "Digital";
  --deep-grey-colour: rgb(32, 31, 31);
  --vibrant-blue-colour: rgb(52, 140, 178);
  --vibrant-blue-colour-light: rgba(52, 140, 178, 0.85);
}

html,
body,
#root,
#toggle-wrap {
  height: 100%;
}

html {
  font-family: var(--base-font);
}

body {
  overflow: hidden;
  margin: 0;
  color: #fff;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
div {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

li,
h1,
h2 {
  cursor: default;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay.background {
  background-image: url(./time.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
  animation: fade 1.5s ease;
}

.overlay.top-right {
  clip-path: polygon(100% 0, 60% 0, 100% 50%);
  background: rgba(255, 255, 255, 0.05);
  z-index: -5;
}

.overlay.middle-right {
  clip-path: polygon(60.1% 0, 100% 49.9%, 100% 100%, 88% 100%, 12% 0);
  background: rgba(255, 255, 255, 0.02);
  z-index: -5;
}

.overlay.middle-left {
  clip-path: polygon(0 0, 12.1% 0, 88.1% 100%, 40% 100%, 0 50%);
  background: rgba(255, 255, 255, 0.05);
  z-index: -5;
}

.overlay.bottom-left {
  clip-path: polygon(0 49.9%, 0% 100%, 40.1% 100%);
  background: rgba(255, 255, 255, 0.02);
  z-index: -5;
}

.share-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 2rem;
}

#toggle-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9) 30%,
    rgba(255, 255, 255, 0.4)
  );
  color: var(--deep-grey-colour);
  width: 80vw;
  height: 80vh;
  animation: fade 200ms ease;
}

.glass .left {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-basis: 30%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  border-radius: 2rem;
}

.glass .left::-webkit-scrollbar {
  display: none;
}

.glass .right {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.glass .right .timer {
  cursor: pointer;
  padding: 1.75rem 0 0;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 2px 2px 20px 0px rgb(255 255 255 / 30%);
  text-align: center;
}

.glass .right .set-timer {
  background: transparent;
  height: calc(var(--large-font-size) + 1.75rem);
}

.glass .right .timer,
.glass .right .set-timer {
  width: 800px;
  margin: 2rem;
  border-radius: 2rem;
}

.glass .right .buttons {
  display: flex;
  align-items: flex-end;
  height: 84px;
  padding: 2rem 6rem;
  margin: 2rem;
  z-index: 5;
}

@media (min-width: 1441px) {
  .glass {
    max-width: 1600px;
  }
}

@media (max-width: 1440px) and (min-width: 1025px) {
  .glass .right .set-timer {
    height: calc(var(--medium-font-size) + 1.75rem);
  }

  .glass .right .timer,
  .glass .right .set-timer {
    width: 550px;
  }

  .glass .right .buttons {
    padding: 2.5rem 5rem;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .glass .right .set-timer {
    height: calc(var(--small-font-size) + 1.75rem);
  }

  .glass .right .timer,
  .glass .right .set-timer {
    width: 375px;
  }

  .glass .right .buttons {
    padding: 0.5rem 3rem 2rem;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .glass .left {
    display: none;
  }

  .glass .right .set-timer {
    height: calc(var(--smallest-font-size) + 1.75rem);
  }

  .glass .right .timer,
  .glass .right .set-timer {
    width: 300px;
  }

  .glass .right .buttons {
    padding: 0 2rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .share-icon {
    margin: 1rem;
  }

  .glass {
    background: transparent;
    width: 100vw;
    height: 80vh;
    backdrop-filter: none;
  }

  .glass .left {
    display: none;
  }

  .glass .right .set-timer {
    height: calc(var(--smallest-font-size) + 1.75rem);
  }

  .glass .right .timer,
  .glass .right .set-timer {
    width: 300px;
    margin: 0;
  }

  .glass .right .buttons {
    padding: 0 1.5rem 1.5rem;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes roll-right {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(35vw, 4px) rotate(360deg);
  }
  100% {
    transform: translate(70vw, 4px) rotate(720deg);
  }
}

@keyframes roll-left {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-35vw, 4px) rotate(-360deg);
  }
  100% {
    transform: translate(-70vw, 4px) rotate(-720deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
