.digit {
  font-size: var(--large-font);
  display: inline-block;
  min-width: calc(var(--large-font) / 2);
  text-align: right;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.digit.shake {
  animation: shake 0.5s;
  animation-iteration-count: 10;
}
