.digit {
  font-size: var(--large-size);
  display: inline-block;
  min-width: calc(var(--large-size) / 2);
  line-height: var(--large-size);
  text-align: right;
  transform: translateY(12px);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.digit.shake {
  animation: shake 0.5s cubic-bezier(1, 0, 1, 1);
  animation-iteration-count: 10;
}

.shake[data-shake-delay="true"] {
  animation-delay: 40ms;
}

.digit.roll-right {
  animation: roll-right 3s 2 linear alternate;
}

.digit.roll-left {
  animation: roll-left 3s 2 linear alternate;
}

.roll-right[data-roll-delay="true"],
.roll-left[data-roll-delay="true"] {
  animation-delay: 1.4s;
}
