.digit {
  font-size: var(--large-font-size);
  display: inline-block;
  min-width: 1ch;
  line-height: var(--large-font-size);
  text-align: right;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 1440px) and (min-width: 1025px) {
  .digit {
    font-size: var(--medium-font-size);
    line-height: var(--medium-font-size);
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .digit {
    font-size: var(--small-font-size);
    line-height: var(--small-font-size);
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .digit {
    font-size: var(--smallest-font-size);
    line-height: var(--smallest-font-size);
  }
}

@media (max-width: 480px) {
  .digit {
    font-size: var(--smallest-font-size);
    line-height: var(--smallest-font-size);
  }
}

.digit.shake {
  animation: shake 0.5s cubic-bezier(1, 0, 1, 1);
  animation-iteration-count: 10;
}

.shake[data-shake-delay="true"] {
  animation-delay: 40ms;
}

.digit.roll-right {
  animation: roll-right 3s 2 linear alternate;
}

.digit.roll-left {
  animation: roll-left 3s 2 linear alternate;
}

.roll-right[data-roll-delay="true"],
.roll-left[data-roll-delay="true"] {
  animation-delay: 1.4s;
}
